.App {
  text-align: center;
}

*{
  background-color: black;
  color: aliceblue;
}
.input-btn{
  width: 150px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border: 1px dashed grey;
  border-radius:5px;
}
.input-btn2{
  width: 150px;
  height: 20px;
  border: 1px dashed grey;
  border-radius:5px;
}
/* .img{
  width: 50%;
  height: 300px;;
} */